.globalLoginContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 0px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 24px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginForm .textField {
    width: 100%;
    margin: 8px 0 8px 0;
}

.loginContainer #seConnecter {
    align-self: flex-start;
    margin-bottom: 35px;
}

.loginContainer p {
    align-self: center;
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}

.loginContainer .textField {
    width: 100%;
}

.goToRegister #linkRouter {
    color: #FACA16;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.loginContainer .returnToLogin {
    letter-spacing: -0.165px;
    font-size: 16px;
    align-self: center;
    font-weight: 500;
    margin-top: 8px;
}

.loginContainer .returnToLogin #linkRouter {
    color: #FACA16;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.resetPassword a {
    text-decoration: none;
    color: #FACA16;
    font-size: 12px;
    letter-spacing: -0.165px;
    font-weight: 700;
    text-align: center;
}

#backToLanding {
    color: #222222;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    align-self: flex-start;
}

#backToLanding #linkRouter {
    color: #FACA16;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}