.nav {
    width: 80%;
}

.left-sidebar {
    width: 14%;
    background: rgb(255, 255, 255);
    border-right: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav {
    margin-top: 0;
    text-align: left;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav-item {
    display: flex;
    margin: 30% 0 30% 0;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-nav-item a {
    display: flex;
    align-items: end;
}

.sidebar-nav-item img {
    margin: 4px;
}

.sidebar-nav-item li {
    display: flex;
    align-items: center;
}

.nav-item-link {
    display: flex;
}